
.form-error-message{
	font-size: 16px;
	line-height: 20px;
	color:#df2719;
	margin-top: 5px;
	margin-bottom: 5px;
}

input.error-input, select.error-input,textarea.error-input, a.error-input {
	outline: 1px solid #E1574C;
}

.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}

.thumb-lg {
    height: 120px;
    width: 120px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.text-pink {
    color: #ff679b!important;
}
.btn-rounded {
    border-radius: 2em;
}
.text-muted {
    color: #98a6ad!important;
}

.blue-btn:hover,
.blue-btn:active,
.blue-btn:focus,
.blue-btn {
    background: transparent;
    border: solid 1px #27a9e0;
    border-radius: 3px;
    color: #27a9e0;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none !important;
    padding: 10px 20px;
}

.file-upload {
    position: relative;
    overflow: hidden;
    height: 43px;
    margin-top: 0;
}

.file-upload input.upload-logo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
    height: 42px;
}

/*Chrome fix*/
input::-webkit-file-upload-button {
    cursor: pointer !important;
    height: 42px;
    width: 100%;
}

.img-preview {
    max-height: 400px;
    width: auto;
}

.center-img {
    display: flex;
    justify-content: center;
}

/* Add elements in "add document" page */
.list-unstyled{
	padding-left: 0;
    list-style: none;
}

.attributed-stats-list{
	white-space: nowrap;
	flex-wrap: wrap;
}

.attributed-stats-list .stat-item{
	padding: 6px 5px 6px 15px;
	margin-right: 15px;
	background-color: #ebebeb;
	border-radius: 4px;
	text-transform: capitalize;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: var(--secondary-text);
	margin-bottom: 10px;
}

.attributed-stats-list .stat-item button{
	border-radius: 50%;
	border: 0px;
	color: var(--secondary-text);
	margin-left: 10px;
	cursor: pointer;
}

.attributed-stats-list .stat-item button:hover{
	color: var(--secondary-color);
}
/********************************************/
